.timelinevis.html-widget {
  margin-bottom: 20px;
  position: relative;
}
.timelinevis.html-widget .vis-background .vis-minor.vis-odd {
  background: #fdfdfd;
}
.timelinevis.html-widget .vis-major {
  font-weight: bold;
}
.timelinevis.html-widget .zoom-menu {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 5;
}
.timelinevis.html-widget .zoom-menu.show-zoom {
  display: block;
}
.timelinevis.html-widget .zoom-menu.shiny-mode .btn {
  padding: 2px;
  background: #FDFDFD;
  box-shadow: 0 0 2px #ddd;
}
.timelinevis.html-widget .zoom-menu.shiny-mode .zoom-text {
  display: none;
}
.timelinevis.html-widget .zoom-menu.no-shiny-mode .btn {
  margin: 0;
}
.timelinevis.html-widget .zoom-menu.no-shiny-mode .zoom-icon {
  display: none;
}
