#timelineCustom {
  font-family:  purisa, 'comic sans', cursive;
}

#timelineCustom .vis-timeline {
  border: 2px solid purple;
  font-size: 12pt;
  background: #ffecea;
}

#timelineCustom .vis-item {
  border-color: #F991A3;
  background-color: pink;
  font-size: 15pt;
  color: purple;
  box-shadow: 5px 5px 20px rgba(128,128,128, 0.5);
}

#timelineCustom .vis-item,
#timelineCustom .vis-item.vis-line {
  border-width: 3px;
}

#timelineCustom .vis-item.vis-dot {
  border-width: 10px;
  border-radius: 10px;
}

#timelineCustom .vis-item.vis-selected {
  border-color: green;
  background-color: lightgreen;
}

#timelineCustom .vis-background .vis-minor.vis-odd {
  background: #ffd7d7;
}

#timelineCustom .vis-time-axis .vis-text {
  color: purple;
  padding-top: 10px;
  padding-left: 10px;
}

#timelineCustom .vis-time-axis .vis-grid.vis-minor {
  border-width: 2px;
  border-color: pink;
}

#timelineCustom .vis-time-axis .vis-grid.vis-major {
  border-width: 2px;
  border-color: #F991A3;
}
